.super-container {
}

.widgets,
.charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.charts {
  padding: 5px 20px;
}

.listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}

.listTitle {
  font-weight: 500;
  /* font-size: 0.8rem; */
  color: gray;
  margin-bottom: 15px;
}
.listContainer-events ul {
  font-size: 0.9rem;
}

.upcoming-item-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-grey-300);
}

.upcoming-item-container-list {
  position: relative;
  display: flex;
  padding: 0 20px;
  /* align-items: flex-start; */
}
.upcoming-item {
  color: var(--color-grey-600);
}

.upcoming-item-header {
  border-bottom: 1px solid var(--color-grey-300);
  padding: 0.8rem 0.8rem;
  width: 100%;
  display: flex;
  gap: 0.7rem;
  /* background-color: green; */
}

.listContainer-main {
  /* -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47); */
  /* box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47); */
  /* padding: 20px; */
  /* margin: 20px 0; */
  display: flex;
  gap: 2%;

  /* background-color: green; */
}

.listContainer-main-first {
  display: flex;
  flex-direction: column;
  padding: 0;
  /* width: fit-content; */
}

.listContainer-events {
  width: 100%;
  /* background-color: green; */
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  /* padding: 20px; */
  /* margin: 20px; */
}

.orange-colored {
  position: absolute;
  background-color: orange;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  top: 28%;
  left: 0.6rem;
}

.yellow-colored {
  position: absolute;
  background-color: yellow;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  top: 28%;
  left: 0.6rem;
}
.blue-colored {
  position: absolute;
  background-color: var(--main-color-1);
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  top: 28%;
  left: 0.6rem;
}

.green-colored {
  position: absolute;
  background-color: green;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  top: 28%;
  left: 0.6rem;
}

.purple-colored {
  position: absolute;
  background-color: purple;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  top: 28%;
  left: 0.6rem;
}
