@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
  /* background-color: green; */
}
.hamberger {
  display: none;
}

.header_container.scrolled {
  background-color: var(--bg-color-transparent);
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}

.nav-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  color: var(--text-color);
  font-weight: 500;
  opacity: 0.9;
  transition: 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  border-radius: 5px;
  background-color: var(--main-color-1);
  bottom: 0;
  left: -5px;
  z-index: -1;
  opacity: 0;
  transition: 0;
}
.nav-link:hover,
.nav-link.active {
  color: var(--heading-color);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  opacity: 0.2;
}
.toggle-btn {
  color: var(--heading-color);
  min-width: 40px;
  height: 40px;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
  margin-right: 0rem;
}
.toggle-btn:hover {
  filter: brightness(97%);
}
.link_container {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 75rem;
  padding: 0 1.5rem;
  /* background-color: green; */
  margin: 0 auto;
}
nav.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.links {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.logo {
  /* margin-left: 1.5rem; */
  font-family: "Aquire", sans-serif;
  /* font-family: "Abril Fatface", "Aquire", sans-serif; */
  font-size: 1.5rem;
  color: var(--heading-color);
  letter-spacing: 3px;
  transition: 0.3s;
}
header .logo {
  height: 120px;
  line-height: 120px;
}
.header_container.scrolled .logo {
  height: 80px;
  line-height: 80px;
}

/* Default styles for all screens */

/* Very large screens (1280px) and below */
@media only screen and (max-width: 1280px) {
  /* Styles for very large screens go here */
}

/* Large screens (1024px) and below */
@media only screen and (max-width: 1024px) {
  /* Styles for large screens go here */
}

/* Medium screens (768px) and below */
@media only screen and (max-width: 768px) {
  .link_container {
    display: none;
  }

  .hamberger {
    display: block;
  }
  .toggle-btn {
    display: none;
  }
  :root {
    --section-padding: 4.5rem;
  }

  .triangle {
    width: 70px;
  }
  .square {
    width: 55px;
  }
  .dots {
    width: 65px;
  }

  .hamberger {
    position: relative;
    display: block;
    width: 25px;
    height: 12px;
    padding: 1rem 0;
    box-sizing: content-box;
    cursor: pointer;
  }
  .hamberger .bar {
    width: 100%;
    height: 2px;
    background-color: var(--heading-color);
    border-radius: 3px;
    position: absolute;
  }

  .hamberger .bar:first-child {
    transition: top 0.2s 0.15s, transform 0.3s;
    top: 1rem;
  }
  .hamberger .bar:last-child {
    transition: bottom 0.2s 0.15s, transform 0.3s;
    bottom: 1rem;
  }

  .header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
    background-color: var(--bg-color-2);
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .toggle-on.hamberger .bar:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
  }
  .toggle-on.hamberger .bar:last-child {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 3rem;
    height: 5rem;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-family: "Aquire", sans-serif;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 3px;
    transition: 0.3s;
    display: flex;
    align-items: center;
  }
  header .logo {
    height: 100px;
    /* line-height: 120px; */
  }
  .header_container.scrolled .logo {
    height: 80px;
    line-height: 80px;
  }

  .toggled-btn {
    color: var(--heading-color);
    min-width: 40px;
    height: 40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
    margin-right: 0rem;
  }
  .toggled-btn:hover {
    filter: brightness(97%);
  }
  .toggle-link_container {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color-2);
    margin-top: 19rem;
    left: 0;
    border-top: 1px solid var(--color-grey-300);
  }

  .toggle-link_container.scrolled {
    background-color: var(--bg-color-transparent);
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    /* margin-top: 0; */
  }
}

/* Small screens (640px) and below */
@media only screen and (max-width: 640px) {
  /* Styles for small screens go here */
}

/* Very small screens (480px) and below */
@media only screen and (max-width: 480px) {
  /* Styles for very small screens go here */
}

/* @media (max-width: 1000px) {
  .sub-heading {
    font-size: 0.75rem;
  }

  .heading {
    font-size: 2rem;
  }

  .showcase-area .heading {
    font-size: 2.7rem;
  }
  .text {
    font-size: 0.84rem;
    margin: 1.3rem 0;
  }
  .btn {
    padding: 0.8rem 1.6rem;
    font-size: 0.8rem;
    min-width: 100px;
    border-radius: 15px;
  }
  .btn.secondary-btn {
    font-size: 0.85rem;
  }
  .nav-link {
    font-size: 0.7rem;
  }

  .showcase-area {
    padding: 100px 0;
  }
  .showcase-area .container {
    grid-template-columns: 1fr 400px;
    height: 450px;
  }
}

@media (max-width: 768px) {
  :root {
    --section-padding: 4.5rem;
  }

  .triangle {
    width: 70px;
  }
  .square {
    width: 55px;
  }
  .dots {
    width: 65px;
  }

  .hamberger {
    position: relative;
    display: block;
    width: 25px;
    height: 12px;
    padding: 1rem 0;
    box-sizing: content-box;
    cursor: pointer;
  }
  .hamberger .bar {
    width: 100%;
    height: 2px;
    background-color: var(--heading-color);
    border-radius: 3px;
    position: absolute;
  }

  .hamberger .bar:first-child {
    transition: top 0.2s 0.15s, transform 0.3s;
    top: 1rem;
  }
  .hamberger .bar:last-child {
    transition: bottom 0.2s 0.15s, transform 0.3s;
    bottom: 1rem;
  }

  .header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
    background-color: var(--bg-color-2);
  }

  .toggle-on.hamberger .bar:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
  }
  .toggle-on.hamberger .bar:last-child {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .toggle-on.links {
    order: 3;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 2rem;
  }
  .toggle-on.links ul {
    flex-direction: column;
    position: relative;
  }
  .toggle-on.nav-link {
    margin: 1.5rem 0;
    color: var(--heading-color);
    font-weight: 500;
  }

  .links ul::after {
    content: "";
    position: absolute;
    width: 100%;
    width: 0;
    height: 0.5px;
    background-color: var(--heading-color);
    opacity: 0.7;
    opacity: 0;
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle-on.links ul::after {
    content: "";
    position: absolute;
    width: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--heading-color);
    opacity: 0;
    opacity: 0.7;
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle-btn {
    margin: 0;
  }

  header {
    height: 505px;
    max-height: 100px;
    overflow: hidden;
  }
  header.scrolled {
    height: 485px;
    max-height: 80px;
  }

  .toggle-on header {
    height: 505px;
    background-color: var(--bg-color-2);
  }
} */
