.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  max-height: 30rem;
  overflow-y: scroll;
  
}
.container h1{
  margin-bottom: 1rem;
}

.container{
  margin-top: 5rem;
  width: 40%;
  padding: 2rem 2rem;
  border-radius: 1rem;
  background-color: #fff;
/* display: flex; */
}

.container-password {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
  }
  
  .container-confirm-password {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
  }
  .input_field {
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;
    margin-bottom: 1rem;
    /* background-color: var(--color-grey-200); */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* border-bottom: 2px solid var(--color-grey-300); */
    /* border-bottom: 3px solid var(--color-grey-400); */
    /* border-radius: 5px; */
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    /* border-bottom: 2px solid var(--main-color-2); */
    outline: none;
    font-size: 18px;
    transition: 0.3s;
  }
  .input_field:focus {
    border-bottom: 3px solid var(--bg-color-300);
    border-bottom: 2px solid var(--main-color-2);
    border-bottom: 1.5px solid var(--main-color-1);
  
    /* border-radius: 5px; */
    /* background-color: var(--color-grey-200); */
  }
  
  .login-eye-icon {
    color: hsl(0, 0%, 0%);
    color: var(--color-grey-500);
    position: absolute;
    right: 8%;
    top: 62%;
    padding-right: 2px;
  }
  .login-confirm-eye-icon {
    color: hsl(0, 0%, 0%);
    color: var(--color-grey-500);
    position: absolute;
    right: 8%;
    top: 62%;
    padding-right: 2px;
  }
  .loading_container {
    margin-bottom: 14px;
  }
  .register_btn {
    margin-top: 1rem;
    width: 100%;
    background-color: var(--bg-color-300);
    background-color: var(--main-color-1);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color: var(--color-grey-50);
    cursor: pointer;
    transition: 0.3s;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  }
  
  .register_btn:hover {
    background-color: #0073cf;
  }

  
.tick-mark {
  color: green;
}
.cross-mark {
  color: red;
}

.submit-btn {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--bg-color-300);
  background-color: var(--main-color-1);
  border: 0;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-grey-50);
  cursor: pointer;
  transition: 0.3s;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.submit-btn:hover {
  background-color: #0073cf;
}