.main-container {
  display: grid;
  grid-template-columns: 11rem 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.container {
  background-color: var(--color-grey-50);
  padding: 2rem 2rem 3rem;
  overflow: scroll;
}
.sub-container {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
