footer {
  /* padding: 4rem 2rem; */
  /* padding: 4rem 15rem; */
  /* padding: 20% 10%; */
  /* max-height: 50px; */
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: green; */
  gap: 5rem;
}
.social-media {
  display: flex;
  width: auto;
  list-style: none;
}
.social-link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 1rem;
  background-color: var(--bg-color-1);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.social-link:hover {
  color: var(--main-color-1);
}

.logo {
  /* margin-left: 1.5rem; */
  font-family: "Aquire", sans-serif;
  /* font-family: "Abril Fatface", "Aquire", sans-serif; */
  font-size: 1.5rem;
  color: var(--heading-color);
  letter-spacing: 3px;
  transition: 0.3s;
  text-decoration: none;
}
