.manage-container {
}

.listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  /* margin: 20px; */
}

.listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}
.admin-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-icon-container {
  display: flex;
  align-items: center;
  position: relative;
}
.search-input {
  max-width: 30rem;
  height: 2rem;
  font-family: "inter" sans-serif;
  padding: 0 0.3rem;
  font-size: 0.95rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  /* border-radius: 5px; */
  border: 0;
}
.search-input:focus {
  /* background-color: var(--color-grey-200); */
  border-bottom: 1px solid var(--color-grey-500);
  border-bottom: 1px solid var(--main-color-2);
}
.search-icon {
  position: absolute;
  color: green;
  color: var(--main-color-1);
  /* left: 11rem; */
  right: 1rem;
}

.table-item {
  display: flex;
  flex-direction: column;
  font-family: "inter" sans-serif;
  font-family: "Poppins", sans-serif;
}

.email-item {
  opacity: 0.4;
}

.actions-container {
  display: flex;
  gap: 0.5rem;
}

.delete-icon {
  cursor: pointer;
  color: red;
}

.img-item {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.image-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.action-icon {
  cursor: pointer;
}

.tableCells.darkmode-table {
  /* background-color: var(--color-grey-300); */
  background-color: #000;
  color: var(--color-grey-200);
}

.warning-btns-container{
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
.cancel-btn{
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
  transition: 0.3s; 
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-family: inherit;
  color: #000;
}

.cancel-btn:hover {
  background-color: var(--color-grey-200);
}
.delete-btn{
  padding: 0.5rem 0.8rem;
  color: var(--color-grey-0);
  background-color: rgb(224, 32, 32);
  border: 0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-family: inherit;
}

.delete-btn:hover{
  background-color: rgb(224, 32, 32);
  background-color: rgb(158, 19, 19);
}



/* ----------------------------------------------------EDIT FORM STYLES------------------------------------------ */
.email_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
  /* overflow-y: auto; */
  /* max-height: 50%; */
  /* margin-left: 3rem; */
}

.email-field {
  /* padding: 0.8rem;
    width: 15rem;
    outline: none;
    border: 1px solid var(--color-grey-200);
    font-family: "Inter", sans-serif;
    font-size: 1rem; */

  padding: 0.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  font-size: 18px;
  transition: 0.3s;
}

.email-field-container {
  display: flex;
  flex-direction: column;
}
.email-field:focus {
  border-bottom: 3px solid var(--bg-color-300);
  border-bottom: 3px solid var(--main-color-1);
  /* border: 3px solid var(--main-color-1); */
  border-bottom: 2px solid var(--main-color-2);
}

.tokens-header {
  color: var(--color-grey-700);
  font-size: 1.5rem;
}

.admin-header {
  font-size: 1rem;
}

.cancel-btn {
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
  transition: 0.3s; 
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.cancel-btn:hover {
  background-color: var(--color-grey-300);
}
.btn-main-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.generate-btn {
  padding: 0.5rem 0.8rem;
  color: var(--color-grey-0);
  background-color: var(--main-color-1);
  border: 0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.generate-btn:hover {
  color: var(--color-grey-0);
  background-color: #007fff;
  padding: 0.5rem 0.8rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;

  /* width: 100%; */
}
.select-dropdown {
  position: relative;
  width: 100%;
  /* background-color: #e6e6e6; */
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* border-radius: 4px; */
}

.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-grey-100);
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 75%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.select-container {
  /* color: var(--main-color-1); */
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
